@model ERPSystem.Data.Permission

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Permission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PermissionId" />
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleId"></select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanView" class="control-label"></label>
                <input asp-for="CanView" class="form-control" />
                <span asp-validation-for="CanView" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanEdit" class="control-label"></label>
                <input asp-for="CanEdit" class="form-control" />
                <span asp-validation-for="CanEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

